/*personal Font */
@font-face {
    font-family: 'CursorGothic';
    src: url('Assets/fonts/CursorGothic_Regular-s.p.a361088d.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CursorGothic';
    src: url('https://cursor.com/marketing-static/_next/static/media/CursorGothic_Light-s.p.a361088d.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

/*  variables  */
:root {
    --bg-color: #13120b;
    --secondary-bg-color: #1b1913;
    --font-color: #ffff;
    --secondary-font-color: #f54e00;
    --font-primary: 'CursorGothic';
    --border-default: 0.5px solid gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding: 7px 5vw;
    background-color: var(--bg-color);
    font-family: var(--font-primary);
    color: var(--font-color);
    
}
body a{
    text-decoration: none;
    color: inherit;
}
/*Navigation*/
nav {
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color: var(--bg-color);
}
.nav-contianer{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}



.logo img {
    width: 100px;
    cursor: pointer;
}

.center-anchor,
.right-anchor {
    display: flex;
}

.center-anchor {
    gap: 25px;
}

.center-anchor a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.right-anchor {
    gap: 10px;
}

.right-anchor a {
    border-radius: 20px;
    padding: 5px 10px;
    border: var(--border-default);
}

.right-anchor a:first-child:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.right-anchor a:last-child {
    background-color: #ffff;
    color: #111111;
}

.right-anchor a:last-child:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

/*hero*/
.hero-section {
    margin-top: 15vh;
    font-size: 14px;
    letter-spacing: 0.0125;
}

.hero-image img {
    margin-top: 7vh;
    width: 1300px;
    border-radius: 10px;
}

/*Download Button   */
.download button {
    cursor: pointer;
    margin-top: 20px;
    padding: 11px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 18px;
    border-radius: 30px;
    border: var(--border-default);
    background-color: var(--font-color);
    color: var(--bg-color);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.download button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.download button svg {
    width: 16px;
    height: 16px;
    stroke: currentColor;
    fill: none;
    display: block;
}

/*Trusted Section*/
.trusted-section {
    margin-top: 10vh;
    font-size: 14px;
    letter-spacing: 0.0125;
}

.trusted-text {
    text-align: center;
}

.trusted-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 160px;
    height: 100px;
    background-color: var(--secondary-bg-color);
}

/* agent section */
.agent-section {
    margin-top: 10vh;
    font-size: 14px;
    letter-spacing: 0.0125;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.agent-container {
    background-color: var(--secondary-bg-color);
    padding: 15px ;
    height: 90vh;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.agent-container.reverse {
    flex-direction: row-reverse;
}

.agent-image img {
    border-radius: 5px;
    height: 85vh;
}
.agent-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.agent-text p {
    width: 400px;
    line-height: 1.5;
    letter-spacing: 1.3px;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.7);
}

.learn-more {
    color: var(--secondary-font-color);
}

/* testimonials */
.testimonials{
    margin-bottom: 20vh;
}
.testimonials-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.testimonials h1 {
    padding: 15vh 0 8vh;
    text-align: center;
}

.testimonial-box {
    width: 430px;
    height: 280px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 🔥 key */
    gap: 20px;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
}

.details {
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
}

.testimonial-author {
    display: flex;
    align-items: center;
    gap: 10px;
}
.testimonial-author img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.author-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.author-info p {
    font-size: 14px;
}

.author-info p:first-child {
    font-size: 16px;
    color: var(--font-color);
}

.author-info p:last-child {
    color: rgba(255, 255, 255, 0.7);
}
